{% extends 'base.html' %}
{% block content %}

 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-secondary-subtle shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="{% url 'login' %}">INDEX</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-3">
            <a class="nav-link fw-bold" href="{% url 'registro_cliente' %}">Registro Cliente</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link fw-bold" href="{% url 'registro_agente' %}"
              >Registro Agente</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <h2 class="text-center mb-4">Registro de Cliente</h2>

    <!-- Formulario de Registro con sombra -->
    <form method="POST" class="mt-4 form-container" style="max-width: 500px; margin: 0 auto;">
        {% csrf_token %}
        <div class="mb-3">
            <label for="first_name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="first_name" name="first_name" required>
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="last_name" name="last_name" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de Usuario</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <!-- Botón Registrarse centrado -->
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-secondary mx-auto">Registrarse</button>
        </div>
    </form>
</div>

{% endblock %}